<html>
    <head>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>        
    </head>
    <body>
        <h1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
        <div>
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        </div>

        <label for="generos">Escolha um Gênero:</label>

        <select name="generos" id="escolher_genero"></select>

        <script src="./javascripts/loaddata.js"></script> 
    </body>
</html>