<html>
    <head>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
        <script src="./javascripts/loaddata.js"></script> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>

        <div class="row justify-content-evenly">
            <h1 class="col-6">PI 6 - Visualização de Dados</h1>
        </div>

        <div class="row justify-content-evenly">
            <h2 class="col-6">Engines e Plataformas de Jogos Eletrônicos</h1>
        </div>

        <div class="linha_de_graficos">

            <!-- <label for="generos">Escolha um Gênero:</label> -->

            <!-- <select name="generos" id="escolher_genero"></select> -->

            <div class="row justify-content-evenly">
                <select id="escolher_genero" class="col-4"></select>
            </div>            

            <div class="row justify-content-evenly">

                <div class="div_do_canvas col-5">
                    <h3><span class="underline">Engines</span> mais comuns por <span class="highlight">gênero</span></h3>
                    <canvas id="myChart"></canvas>
                </div>

                <div class="div_do_canvas col-5">
                    <h3><span class="underline">Plataformas</span> mais comuns por <span class="highlight">gênero</span></h3>
                    <canvas id="myChart3"></canvas>
                </div>

            </div>

        </div>
        
        <div class="linha_de_graficos">

            <!-- <label for="generos">Escolha uma plataforma:</label> -->

            <div class="row justify-content-evenly">
                <div class="div_do_canvas col-10">
                    <div class="row justify-content-start">
                        <h3 class="col-4"><span class="underline">Gênero</span> mais comuns por <span class="highlight">plataforma</span></h3>
                        <div class="col-4"><select name="generos" id="escolher_plat"></select></div>
                    </div>                    
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
               
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>